<ion-view view-title="About Us">
  <ion-content>
        <div class="card">
            <div class="item item-divider">
                <h2>About US</h2>
            </div>
            <div class="item item-text-wrap">
                <p>This project aims to provide service with which you can search yfcc100m images based on text search terms. Three main interfaces will be provided of this service: application programming interface, website and mobile application.</p>

                <p>Most of the time when we are using images from internet we don't worry about their license, this behaviour may lead to problems with law. This service will make it sure that we don't make this mistake. With this service users can easily search the Creative Commons-licensed Flickr images using the text search terms. User will also be able to see images categorized into predifined categories.</p>
            </div>
      </div>
  </ion-content>
</ion-view>
